/* src/pages/LoveFormPage.css */
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px;
    background: #fff0f5;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .select-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  textarea {
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    border: 2px solid #ffb6c1;
    font-size: 24px;
  }
  
  button {
    margin-top: 30px;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #ff85a2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff5c88;
  }
  