.music-theme-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.music-theme-page h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.theme-button {
  margin: 8px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ffeef3;
  border: 1px solid #ffb3c6;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  width: 200px;
}

.theme-button:hover {
  background-color: #ffd6e0;
  transform: scale(1.03);
}

.remove-button {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
}

.music-grid-vertical {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: 20px;
}

c .music-theme-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.music-button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #fdb2b2;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.music-button:hover {
  background-color: #ff8c8c;
}
