.preview-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.preview-subtitle {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  word-break: keep-all;
  line-height: 1.4;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.preview-background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.background-video {
  width: 100vw;
  max-height: 90vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
