.video-select-container {
  text-align: center;
  padding: 40px;
  background-color: #ffeef2;
  min-height: 100vh;
}

.button-group {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.video-slot {
  width: 70%;
  max-width: 500px;
  margin: 30px auto;
  border: 2px dashed #aaa;
  border-radius: 15px;
  padding: 15px;
  background: white;
}

.video-slot video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
